<!DOCTYPE html>
<html>
  <%- include('./meta/index', { title: 'Home', css: 'index' }); %>
  <body>
    <div class="center">
      <%- include('./meta/nav'); %>
      <h1>Encrypt your text using PimHash!</h1>
      <div class="spacer"></div>
      <div class="box">
        <div id="rslt">
          <p id="md5hash"></p>
          <p id="sha256hash"></p>
          <div class="spacer"></div>
          <p id="cached" data-bs-toggle="tooltip" data-bs-placement="bottom"></p>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="box2">
        <form>
          <textarea id="bubble" placeholder="Place text here to hash."></textarea>
          <div class="spacer"></div>
          <button type="button" id="gBTN">Generate Hashes</button>
          <div class="spacer"></div>
          <button type="button" class="cBTN" id="cBTN" onclick="copyHash()">Copy Hashes</button>
        </form>
      </div>
    </div>
  </body>
</html>
<script defer>
  var g = document.getElementById('md5hash')
  var ge = document.getElementById('sha256hash');
  var geee = document.getElementById('cached');
  var v = document.getElementById('bubble').value
  let cookie = localStorage.getItem("session");
  let account = [];

  function quitApp() {
    window.close();
  }

  fetch(`https://www.eiffelware.net/api/v1/apps/pimhash/auth`, { method: 'post', headers: { session: cookie } }).then((r) => r.json()).then((b) => {
    if (b.OK == false || b.error) window.close();
    let acc = b;
    var accn = document.getElementById('accNav');
    var logn = document.getElementById('logoutNav');
    accn.setAttribute('onclick', `window.open("https://www.eiffelware.net/dashboard?auth=${cookie}")`);
    logn.setAttribute('onclick', `localStorage.removeItem("session"), window.close()`);
    console.log(b);
    account.push(b.user.uuid);
  });

  function copyHash() {
    var text = $("#rslt").get(0)
    var selection = window.getSelection();
    var range = document.createRange();
    geee.innerHTML = "";
    range.selectNodeContents(text);
    selection.removeAllRanges();
    selection.addRange(range);
    document.execCommand('copy');
    g.innerHTML = "Copied Hashes.";
    ge.innerHTML = ""
    copy.classList.remove('cBTN-on');
    copy.classList.add('cBTN');
  }

  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  });

  g.innerHTML = "Generate A Hash.";
  $('#gBTN').on("click", function(e) {
    var g = document.getElementById('md5hash');
    var ge = document.getElementById('sha256hash');
    var geee = document.getElementById('cached');
    var copy = document.getElementById('cBTN');
    var v = document.getElementById('bubble')

    g.innerHTML = "Loading. . ."
    ge.innerHTML = ""
    fetch(`https://www.eiffelware.net/api/hash?content=${v.value}`, { method: 'GET', headers: { clientuuid: account } }).then((r) => r.json()).then((b) => {
      if (b.OK == false) {
        g.innerHTML = "";
        g.innerHTML = b.error;
      } else {
        var tooltips = new bootstrap.Tooltip(geee);
        g.innerHTML = "";
        g.innerHTML = `md5 Hash: ${b.md5}`;
        ge.innerHTML = `sha256 Hash: ${b.sha.sha256}`;
        geee.innerHTML = "";
        if (b.pimapi.cached == true) geee.innerHTML = `Cached: true | ID: ${b.pimapi.id}`;
        copy.classList.remove('cBTN');
        copy.classList.add('cBTN-on');
      }
    })
  })
</script>