<!DOCTYPE html>
<html lang="en">
    <%- include('./meta/index', { title: 'Library', css: 'library' }); %>
<body>
    <div class="center">
        <%- include('./meta/nav'); %>
        <h1>Official PimHash Library</h1>
        <div class="spacer"></div>
        <div class="box" id="box">
            <div class="rslt">
                <p id="info"></p>
                <p id="md5hash"></p>
                <p id="sha256hash"></p>
                <p id="sha384hash"></p>
                <p id="sha512hash"></p>
                <p id="cached"></p>
            </div>
        </div>
        <div class="spacer"></div>
        <form class="input-group mb-3" style="width: 300px; margin: auto;" id="form">
            <input type="text" class="form-control" placeholder="Enter a Hash ID" aria-label="Enter a Hash ID" aria-describedby="button-addon2" id="bubble">
            <button class="btn btn-success" type="submit" id="button-addon2">Search ID</button>
        </form>
        <div class="spacer"></div>
    </div>
</body>
</html>
<script defer>
const v = document.getElementById('bubble');
const box = document.getElementById('box');
const form = document.getElementById('form');
const a = document.getElementById('info');
const g = document.getElementById('md5hash')
const ge = document.getElementById('sha256hash');
const gee = document.getElementById('sha384hash');
const geee = document.getElementById('sha512hash');
const cached = document.getElementById('cached');
let cookie = localStorage.getItem("session");

fetch(`https://www.eiffelware.net/api/v1/apps/pimhash/auth`, { method: 'post', headers: { session: cookie } }).then((r) => r.json()).then((b) => {
  if (b.OK == false || b.error) window.close();
  let acc = b;
  var accn = document.getElementById('accNav');
  var logn = document.getElementById('logoutNav');
  accn.setAttribute('onclick', `window.open("https://www.eiffelware.net/dashboard?auth=${cookie}")`);
  logn.setAttribute('onclick', `localStorage.removeItem("session"), window.close()`);
  console.log(b);
});

$('#form').submit(function(e) {
    e.preventDefault();
    if (v.value.length == 0) { 
        box.classList.remove('box');
        box.classList.add('box-show');
        form.style.marginTop = "35px";
        a.innerHTML = "You need to enter an ID to continue"; 
        g.innerHTML = "";
        ge.innerHTML = "";
        gee.innerHTML = "";
        geee.innerHTML = "";
        cached.innerHTML = "";
        return;
    };
    if (v.value.length > 0) {
        fetch(`https://www.eiffelware.net/api/hash/library/${v.value}`, { method: 'GET' }).then((r) => r.json()).then((b) => {
        box.classList.remove('box');
        box.classList.add('box-show');
        form.style.marginTop = "35px";
        if (b.OK == false) {
            a.innerHTML = `${b.error}`;
            g.innerHTML = "";
            ge.innerHTML = "";
            gee.innerHTML = "";
            geee.innerHTML = "";
            cached.innerHTML = "";
        };
        if (b.OK == true) {
            a.innerHTML = "";
            if (b.hash.md5) {
                g.innerHTML = `md5: ${b.hash.md5}`;
                ge.innerHTML = `sha256: ${b.hash.sha256}`;
                gee.innerHTML = `sha384: ${b.hash.sha384}`;
                geee.innerHTML = `sha512: ${b.hash.sha512}`;
                cached.innerHTML = `Cached Date: ${b.pimapi.cachedOn}`;
            }
        };
    })};
});
</script>