<!DOCTYPE html>
<html lang="en">
    <%- include('./meta/index', { title: 'Loading. . .', css: 'splash' }); %>
<body>
    <div class="center">
        <div class="box">
            <img src="./public/favicon.ico">
            <p id="text">Loading. . .</p>
            <div class="spacer"></div>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" id="progressBar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</body>
</html>
<script defer src="./public/js/splash.js"></script>