* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #1F2428;
    margin: auto;
    padding: 10px;
  }
  
  .center {
    align-items: center;
    text-align: center;
    word-break: break-all;
    padding: 0px;
  }
  
  .spacer {
    margin-top: 5px;
  }
  
  .box {
    display: none;
  }

  .box-show {
    color: white;
    background-color: rgb(73, 73, 73);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 2.5px;
    width: 32em;
    margin: auto;
  }
  
  .box2 {
    color: white;
    background-color: rgb(73, 73, 73);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 1px;
    width: 30em;
    margin: auto;
    margin-bottom: 25px;
  }
  
  .cBTN { 
    display: none; 
  }
  .cBTN-on { 
    color: white; 
    background-color: green; 
    border: solid black 1px; 
    border-radius: 5px; 
    padding: .5px; 
    width: 15em; 
    margin: auto; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-weight: bold; 
    cursor: pointer; 
    margin-bottom: 10px;
  }
  
  h1 { color: white; font-weight: bold; font-size: 22px; letter-spacing: .4px; }
  #sBTN { color: white; background-color: green; border: solid black 1px; border-radius: 5px; outline: none; padding: .5px; width: 9.5em; margin: auto; text-decoration: none; text-transform: uppercase; font-weight: bold; cursor: pointer; }
  #md5hash, #sha256hash, #sha512hash, #sha384hash, #info, #cached { color: rgb(238, 236, 236); font-weight: bold; font-size: 14px; letter-spacing: .3px; margin-bottom: 5px; }